.tmp_*
*.tmproj
log/*.log
config/database.yml
config/amazon_s3.yml
vendor/rails
.tm_last_run_ruby*
.DS_Store
.local_configuration
public/.integration_test_output_for_browser.html
config/cookie_secret
deploy_history.txt
public/avatars
tmp/*
test/tmp
db/*.sqlite3
.loadpath
.project
doc/coverage
coverage