<% @current_tab = :topics %>
<h1><%= @page_title = "Tags" %></h1>

<div id="sidebar">
    <div>
      <p class="info">To create a new tag, just add the tag to the appropriate posting.</p>
    </div>
</div>	
	
<div id="main">
	<ul id="topicList">
		<% for topic in @topics %>
			<li>
				<h2><%= link_to "#{topic} <span class='count'>#{pluralize(topic.posts.count, "article")}</span>", topic %></h2>
				<% if topic.description %>
					<p><%= truncate(topic.description, 200) %></p>
				<% end %>
			</li>
		<% end %>
	</ul>

</div>
<%= clear_this %>