<% @current_tab = :topics %>
<h1><%= @page_title = "Topics" %></h1>

<div id="second">


</div>	
	
<div id="main">
	<ul id="topicList">
		<% for topic in @topics %>
			<li>
				<h2><%= link_to topic, topic %> <%= pluralize(topic.posts.count, "article") %></h2>
				<% unless !topic.description? %>
					<p><%= truncate(topic.description, 200) %></p>
				<% end %>
			</li>
		<% end %>
	</ul>

</div>
<div class="clearThis"> </div>