<% @current_tab = :topics %>
<h1><%= @page_title = "Topics" %></h1>
		
<div id="main">
	<ul>
		<% for topic in @topics %>
			<li><%= link_to topic, topic %> (<%= pluralize(topic.posts.count, "article") %>)</li>
		<% end %>
	</ul>

</div>
