/* @override 
	http://localhost:3000/stylesheets/default.css?1218620950
	http://localhost:3000/stylesheets/default.css?1220011962
*/

body {
  font-family: arial, sans-serif;
  font-size: 0.8em;
  margin:0px;
  padding:0px;
 	background: #2D3831 url(/images/page_top.gif) top left repeat-x;
}


#wrap {
	width:925px;
    margin:0px auto;
}


a {
	color: #2A6B87;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #DD6900;
}


#header {
	position:relative;
  padding-top:1px;
}

#content {
	padding: 3em 2em 3em 2em;
	background: #FFF url(/images/wrapper_bottom.gif) bottom left no-repeat;
	clear:left;
}

#main {
	float: left;
	width:580px;
}

input#user_user_avatar {
  font-size: 1em;
}


#sidebar {
	float: right;
	width: 250px;
}


.clearThis {
  height: 1px;
  overflow:hidden;
  margin: 0px;
  clear: both;
}

#logo a {
	overflow: hidden;
	display: block;
	text-indent: -1000px;
	width: 260px;
	background-image: url(/images/ci_logo2.jpg);
	background-repeat: no-repeat;
	margin: 25px 0px 0px 0px;
	height:73px;
}

#topNavigation {
	list-style:none;
	margin:0px;
	padding:0px;
	position:absolute;
	right:0px;
	top:15px;
}

#topNavigation li {
	display:inline;
}

#topNavigation a {
	color: #ccc;
	padding:0.5em;
	text-decoration:none;
}


#topNavigation a:hover {
	color: #EEE;
	text-decoration:underline;
}


#mainNavigation {
	margin: 20px 0px 0px 0px;
	list-style: none;
	padding: 0px 2em;
	background: #1D2D23 url(/images/nav_bg.gif) top left no-repeat;
	height:2.8em;
	overflow:hidden;
	}
	
#mainNavigation li {
	float:left;
	padding: 5px 0px 0px 0px;
	}
	
#mainNavigation a {
	float:left;
	padding: 0.5em 1.5em;
	color: #DDD;
	font-size: 1.1em;
	text-decoration: none;
	background-image: url(/images/nav_pipe.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	}

#mainNavigation a:hover {
	background-image: url(/images/nav_hover_bg.gif);
}
	
#mainNavigation li.current a {
	background-color: #FFF;
	background-image: none;
	color: #37454e;
	 -moz-border-radius-topleft: 3px;
-webkit-border-top-left-radius: 3px;
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
	}
	
#footer {
	margin-top: 2em;
	text-align: center;
	margin-bottom: 1em;
	font-size: 0.9em;
	color: #999;
	line-height: 1.6em;
}

#footer a {
	color: #BBB;
	text-decoration: underline;
}





#search {
  float:right;
  margin: -10px 2em 0px 0px;
  padding: 0px 0px 0px 19px;
  background: transparent url(../images/famfam/zoom.png) no-repeat 0px center;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search input {
  width:12em;
  margin: 0px;
  background-color: #9bafa1;
  padding:0.2em 0px 0.1em 0.3em;
  color: #666;
  border-width:0px;
  font-size: 0.9em;
}

#search input:focus {
  color: #000;
  background-color: #fff9ca;
}










div.largeForm {
	padding: 1em 0px 1em 0px;
	width: 68%;
	margin: 1em auto 1em auto;
	color: #404e5b;
}

div.largeForm form {
	padding: 0px;
	margin: 2em 1em;
}

h1 {
  color: #eda900;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0px;
	margin-bottom:1em;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
  color: #000;
}

#errorExplanation {
  padding: 0.5em 1.5em;
  margin: 0px 0px 1em 0px;
  background-color: #fbfcd7;
}

#errorExplanation h2 {
  color: #F00;
  font-size: 1.1em;
}

.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {
	background-color: #fbfcd7;
	}
	
.fieldWithErrors label { 	
	background: url(../images/famfam/error.png) no-repeat 0px left;
	padding-left: 20px;

}	
	

div.largeForm p.note {
	color: #666;
	font-size: 90%;
	margin:0.5em  1em 1.5em 40%;
	margin-bottom: 1.5em;
	line-height: 1.5em;
}

#page div.largeForm h1 {
	margin:0px 0px 1em 40%;
	font-size: 1.4em;
	color: #CCC;
	font-weight: normal;
	text-align: left;
	border-bottom: 0px;
}

div.largeForm fieldset {
	border-width: 0px;
	padding:0px;
	margin:0px 0px 2.5em 0px;
}

div.largeForm label {
	width: 37%;
	float: left;
	text-align: right;
	margin:0.5em 3% 0px 0px;
	font-size: 1.2em;
}

div.largeForm p.rightLabel {
	margin-left: 40%;	
}


div.largeForm label.right {
	width: auto;
	text-align: left;
	font-size: 1em;
	float: none;
	display: inline;
	margin: 0px 0px 0px 0.3em;
}

input.largeInput {
	font-size: 1.6em;
}


div.largeForm input.largeInput {
	width: 50%;
}


div.largeForm textarea {
	font-size: 1.3em;
	height:100px;
}

div.largeForm .submitBlock {
	margin:2em  0px 2em 40%;
}

div.largeForm .submitBlock input[type="submit"] {
	margin-right: 0.5em;
}


div.largeForm input[type="submit"] {
	font-size: 1.4em;
	}


.formOptions {
	margin: 3.5em 0px 0.5em 40%;
	color: #707880;
	line-height: 1.5em;
	font-size: 1.2em;
	border-top: 1px solid #CCC;
	padding-top: 0.5em;
}


.formOptions a {
	text-decoration: underline;
}







ul#memberList {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul#memberList li {
  clear: left;
  padding-bottom: 2.5em;
}

ul#memberList .avatar {
  float: left;
  text-align: right;
  width: 150px;
}

ul#memberList .avatar img {
  padding: 5px;
  border: 1px solid #DDD;
  background-color: #FFF;
    -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.memeberListProfileDetails {
  margin-left: 170px;
  line-height: 1.5em;
}

.memeberListProfileDetails p {
  margin: 0px 0px 0.5em 0px;
}

.memeberListProfileDetails h2 {
  margin: 0px;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  font-weight: bold;
}



p.avatar {
  margin: 0px;
  padding: 0px;
}

img.profile_avatar {
  padding: 3px;
  border: 1px solid #CCC;
  background-color: #FFF;
    -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}






#profile .posts {
  margin-top: 3em;
}

#profile div#bio {
  line-height: 1.5em;
  font-size: 1.1em;
}

#profile p.avatar {
  float: left;
  margin: 0px 0px 2em 0px;
}

#profile p.avatar a {
  display: block;
  margin-top: 1em;
  font-size: 0.9em;
  color: #666;
}

#profileDetails {
  margin-left: 160px;
  padding-bottom: 1em;
}

p.homepage {
  margin-top: 0.5em;
  font-size: 1.3em;
  color: #666;
}

.tinyOption {
    font-size: 0.9em;
}

.tinyOption a {

  color: #666;
}

#profile h1 {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 0px;
}


form label {
  display: block;
  margin-bottom: 0.4em;
}

form p {
  margin: 1em 0px;
}


.submitBlock {
  margin-top: 1.5em;
}



#flash {
  margin: -3em -2em 3em -2em;
}


#flash p {
  background-color: #FE9;
  padding: 0.5em 1em;
  margin: 0px;
  text-align: center;
  border-top: 2px solid #c8bb78;
  font-weight: bold;
}



textarea#post_detail {
  width: 100%;
}




.post {
  clear: left;
  background: url(../images/post.gif) no-repeat top right;
}

.post p.avatar {
  float: right;
  padding-bottom: 1em;
  text-align: center;
  overflow: visible;
  margin: 10px 10px 0px 0px;
  }
  
.post p.avatar img {
  display: block;
  margin-bottom: 0.5em;
  }


.postContent {
  margin-right: 80px;
  padding: 1px 3em 3em 0px;
  line-height: 1.5em;
}



.postContent h2 {
  font-size: 1em;
}

.postContent h2 a {
  font-size: 1.2em;
  font-weight: bold;
}

.postContent h2 span.date {
	color: #AAA;
	font-size: 0.9em;
	font-weight: normal;
	display: block;
}

.post .details a {
  font-weight: bold;
}









.comment {
  clear: left;
}

.comment p.avatar {
  float: left;
  padding-bottom: 2em;
  text-align: center;
  overflow: visible;
  margin: 0px;
  }
  
.comment p.avatar img {
  display: block;
  margin-bottom: 0.5em;
  }


.comment .postContent {
  margin-left: 80px;
  padding: 0.8em 0px 3em 3em;
  background: url(../images/comment.gif) no-repeat top left;
}

#authorBlock {
  border: 1px solid #DDD;
  padding: 1em 1em 0px 1em;
  line-height: 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #666;
}



#authorBlock h2 {
	font-size: 1.2em;
	margin: 0px;
}

#authorBlock p.avatar {
  float: left;
  margin: 1em 1em 0.3em 0px;
}











p.date {
  color: #999;
  font-size: 1.1em;
  margin-top: -0.5em;
}


.postBody {
  line-height: 1.5em;
  font-size: 1.1em;
}





a#newContent {
  float: left;
  font-size: 1.2em;
  padding: 0.6em 2em;
  background-color: #2e659d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #FFF;
}






.events ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.events li {
  clear: left;
  padding-top: 0.8em;
  border-top: 1px solid #DDD;
}

.events .commentBody {
  background-color: #EEE;
  padding: 1px 1.3em;
  margin: 0.5em 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  line-height: 1.4em;
}

.events .author {
  float: left;
  margin-right: 1em;
  padding-bottom: 1em;
}

.eventBody {
  margin-left: 60px;
  padding-bottom: 1em;
}

.events img {
  padding: 0px;
  border-width: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.events p.details {
	margin: 0px;
	font-size: 1em;
	color: #333;
	font-weight: bold;
}



.events p.details span.time {
	font-size: 0.9em ;
	display: block;
	margin-top: 0.3em;
	color: #999;
	font-weight: normal;
}





p.loginRequired {
  line-height: 1.5em;
  margin-top: 3em;
  padding: 1em;
  background-color: #EEE;
}


#commentForm {
  margin-top: 3em;
  
}


#commentForm textarea {
	font-size: 1.3em;
	height:5em;
	width: 100%;
}

#comments {
  margin-top: 4em;
}






#settings h2 {
}

#settings form {
}

#settings ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#settings ul a {
  display: block;
  padding: 0.5em 1em;
  background-color: #EEE;
  margin-bottom: 3px;
   -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

#settings ul li.current a {
  background-color: #2A6B87;
  	color: #FFF;
}


