<div class="group">
    <a href="<%= group_path(group) %>">
  	  <% if group.latest_image %>
    		<div class="latestImages">
         <% group.images.featured.latest3.each do |image| %>
				    <%= image_tag_for(image, :medium_square) %>
					<% end %>
        </div>
  		<% end %>
  		<div class="title"><%= group %></div>
  	  <div class="profileText"><%= group.profile_text %></div>
  	  <div class="clearRight"> </div>
	  </a>
</div>