<div class="group">
    <a href="<%= group_path(group) %>">
  	  <% if group.latest_image %>
    		<div class="latestImages">
         <%= image_tag(group.latest_image.src, :height=>64, :width=>64) %>
        </div>
  		<% end %>
  		<div class="title"><%= group %></div>
  	  <div class="profileText"><%= group.profile_text %></div>
  	  <div class="clearRight"> </div>
	  </a>
</div>