<div class="group">
	 
    <p class="avatar">
      <!--%= link_to_avatar_for(group, :medium) %-->
    </p>
		<h3><%= group %></h3>
	 <%= group.profile_text %>
	 <%= link_to "view #{group}", group %>
</div>