<a href="<%= post_path(image.post) %>" class="imageStripImage">
    <%= image_tag_for(image, :strip) %>
    <span class="label" style="width:<%= image.width_for_height(128) %>px;">
      <span class="title"><%= image.post.title %>.</span>
    </span>  
 </a>
      