<h1>Groups</h1>
<ul>
	<% @groups.each do |group| %>
	 <li><%=link_to group, group %></li>
	<% end %>
</ul>

<% if logged_in_as_admin? %>  
  <br>
  <%= link_to 'Create a new group', new_group_path %>
<% end %>

