<div id="sidebar" class="grid_5 alpha">
  <div id="largeDescription">
    <p>You should assign relevant users and/or feeds to the new group asap.</p>
  </div>
</div>  

<div id="main" class="grid_11 omega">

  <%= render :partial => 'groups/form' %>

</div>