<div id="sidebar">
  <div id="largeDescription">
    <p>You should assign relevant users and/or feeds to the new group asap.</p>
  </div>
</div>  

<div id="main">

  <%= render :partial => 'groups/form' %>

</div>