

<div id="sidebar" class="grid_5 alpha">
  
  <div id="largeDescription">
      <p>Return to the <%= link_to "#{@group} Overview", @group %>.</p>
  </div>

</div>  

<div id="main" class="grid_11 omega">
  <h1 class="header">All recent posts by <%= @group %></h1>
  <%= render :partial=> 'post_list'%>
</div>