<h1><%=@group%></h1>

<p><%=@group.profile_text%></p>

<% if !@group.home_page.nil?%>
<p>Home page for group: <%=link_to nil, @group.home_page%></p>
<% end %>
<% if logged_in? && current_user.can_moderate?(@group) %>
	<%= link_to "Edit (because you're a moderator", edit_group_path(@group)%>
<% end %>



