<% content_tag_for(:li, event, :class => "commentCreated") do %>
	     commented on <%= link_to(h(event.detail.post.title), event.detail.post) %> 
	    <span class="time"><%= time_ago_in_words(event.created_at) %> ago.</span>
	
	  <!--<div class="commentBody">
      <%= detail_format(event.detail.body) %>
    </div>
      -->
  
<% end %>