<p class="formOptions">
    NB: Joining the Connected Republic has been disabled. <br/> 
    The site is beginning to go into archive mode. Logging-in will be disabled before the end of 2011 and the site will become static after that.<br/>
    At present, you can still <%= link_to "login", login_url(:return_to=>params[:return_to]) %> if you are already a member.<br/>
</p>
