<div id="recentPosts">
  <% if !@user.posts.empty? %>
  	    <h2><%=h @user.possessive_to_s %> recent posts</h2>
  	    <ul>
  	    <% for post in @user.posts %>
  	        <li><%= link_to post, post %></li>
  	    <% end %>
  	  	</ul>
  <% end%>
</div>