<% @page_title = "Members" %>
<% @current_tab = :users %>
<div id="sidebar">
</div>
  <div id="main">
      <ul id="memberList">
       <% for user in @users %>
         <li>
					<span class="avatar">
          	<%= link_to_avatar_for(user, :large) %>
					</span>
					<div class="memeberListProfileDetails">
						<h2><%= link_to_user(user) %></h2>
					</div>
         </li>
       <% end %>
    	</ul>
  </div>
<div class="clearThis"> </div>