<% @page_title = "Members" %>
<% @current_tab = :users %>

<div id="sideBar">

</div>
  <div id="main">
      <ul id="memberList">
       <% for user in @users %>
         <li>
           <%= link_to_avatar_for(user, :large) %>
					<span class="userName"><%= link_to_user(user) %></span>
         </li>
       <% end %>
    	</ul>
  </div>
<div class="clearThis"> </div>