<% @page_title = "#{@user.possessive_to_s} Profile" %>
<div id="profile">
	<div id="sidebar">
		<p class="avatar">
	    <%= avatar_for(@user, :large) %>
	  </p>
	</div>
	<div id="main">
			<h1><%=h @user %></h1>
	</div>
	
	<div class="posts">
		<h2><%=h @user.possessive_to_s %> posts</h2>
	</div>
	<div class="clearThis"> </div>
</div>			

