<h2>Selected discussion events 
  <%= link_to "latest event #{time_ago_in_words(@latest_event.created_at)} ago", events_url %>
</h2>
  <div class="events">
      <ul>
       <% for event in @events %>
           <%= render :partial => "events/event", :locals => { :event => event } %>
       <% end %>
      </ul>

	<p class="more"><%= link_to "View all events", events_url %></p>

</div>
