<% content_tag_for(:li, event, :class => "commentCreated") do %>
	<div class="author">
	    <%= link_to_avatar_for(event.user, :small) %>
	</div>
	<div class="eventBody">
	  <p class="details">
	    <%= link_to("#{h(event.user)} created a comment", event.detail.post) %> 
	    <span class="time"><%= time_ago_in_words(event.created_at) %> ago.</span>
	  </p>
	
	  <div class="commentBody">
      <%= detail_format(event.detail.body) %>
    </div>
  
	 </div> 
<% end %>