<h1><%= @page_title = "Your Settings" %></h1>

<div id="sidebar">
	<ul class="settings">
		<li class="current"><%= link_to "Bio", bio_settings_url %></li>
		<li><%= link_to "Picture", picture_settings_url %></li>
		<li><%= link_to "User name and email", username_email_settings_url %></li>
	</ul>
</div>
