<div id="settings">

	<%= render :partial => 'settings/header' %>
		
	<div id="main">		
  <ul>Your groups</ul>
	<% current_user.group_permissions.each do |gp|
  group = gp.group  
%>
	<li><%=link_to group, group%></li>
	<% end %>
	</div>
</div>

<%= clear_this %>
