development:
  adapter: mysql
  database: wminarch_development
  username: root
  password:
  host: localhost
  encoding: utf8
test:
  adapter: mysql
  database: wminarch_test
  username: root
  password:
  host: localhost
  encoding: utf8
production:
  adapter: mysql
  database: wminarch_development
  username: root
  password: 
  host: localhost
  encoding: utf8