<% @current_tab = :tags %>
<h1><%= @page_title = "All Tags" %></h1>

<div id="sidebar">
    <div>
      <p class="info">To create a new tag, just add the tag to the appropriate posting.</p>
    </div>
</div>	
	
<div id="main">
	 <%= render :partial=>'tag_cloud'%>
</div>
<%= clear_this %>