<div id="comments">
<h2>Comments</h2>
	<% for comment in @post.comments %>
			<div class="comment">
				<p class="avatar">
					<%= link_to_avatar_for(comment.user, :medium) %>
					<span class="author"><%= link_to_user(comment.user) %>
				</p>
				
				<div class="postContent">
					<%= comment.body %>
					<%= link_to("Delete comment", post_comment_url(@post, comment), :method => :delete, :confirm => "Are you sure you'd like to delete this comment?") if logged_in_as_admin? %>
				</div>
				
			</div>
	<% end %>
</div>
