<%
  # Parameters: with_controls = false
  with_controls = local_assigns[:with_controls]
%>

		<% if with_controls && logged_in? && current_user.can_edit?(post) %>
		<p class="postControls">
			<%= link_to("Edit or feature...", "#featuring-controls")%>
			</p>
		<% end %> 
  