  <div id="subscribe">
    <h2>Subscribe</h2>
    <p><a href="<%= formatted_posts_url(:format => :rss) %>" class="rss">Subcribe to all discussions</a></p>
    <p><a href="<%= formatted_featured_posts_url(:format => :rss) %>" class="rss">Subcribe to just the blog</a></p>
  </div>
