  <div id="subscribe">
    <h2>Subscribe by RSS</h2>
    <p><a href="<%= posts_url(:format => :rss) %>" class="rss">Subscribe to all discussions</a></p>
    <p><a href="<%= featured_posts_url(:format => :rss) %>" class="rss">Subscribe to just the features</a></p>
  </div>
