<% if logged_in? || !@post.tags.empty? %>
<div class="tags">
	<% if !@post.tags.empty?%>
		<h2>Belongs to (tags):</h2>
		<ul>
			<% for tag in @post.tags %>
				<li>
					<%= link_to tag, tag, :class => "tag" %> 
					<% if logged_in? %>
						<%= link_to "[x]", post_tag_url(@post, tag), :class => "delete" ,:method => :delete, :confirm => "Are you sure you'd like to remove this post from the tag '#{tag}'?" %>  
					<% end %>
				</li>
			<% end %>
		</ul>
	<%end%>
	<% if logged_in? %>
		<% form_tag post_tags_url(@post) do %>	  
			<%= label_tag :tag_name, "Add item to #{@post.tags.size==0 ? 'a' : 'another'} tag:" %>
			<%= text_field_tag :tag_name %>
		<% end %>
	<% end %>
	
	<div class="clearThis"> </div>
	
</div>
<% end %>