
<div id="sidebar" class="grid_5 alpha">

</div>

<div id="main" class="grid_11 omega">
  
  <h1 class="header"><%= @page_title = "Edit Post" %></h1>
  <div class="posts">
	  <%= render :partial => 'posts/form' %>
	</div>

</div>

<%= clear_this %>