<% @page_title = "Content" %>
<% @current_tab = :posts %>

<div id="sidebar">
</div>
  <div id="main">
		<h1>Posts</h1>
		<div class="posts">
			<p>posts go in here</p>
		</div>
  </div>
<div class="clearThis"> </div>