<% @current_tab = :posts %>
<h1><%= @page_title = "Lastest articles, postings and discussions" %></h1>
		
<div id="sidebar">
	<%= link_to "Start a new posting", new_post_url, :id => "newContent" %>
	<p class="info">
		Posts are displayed in reverse chronological order. 
		Every new comment pushes the post back up to the top of the page.
	</p>
</div>

<div id="main">
	<%= render :partial => 'posts/post_list' %>
</div>
<%= clear_this %>