<h1><%= @page_title = @initial_topic ? "Create a new post in topic '#{@initial_topic}'" : "Create a new post" %></h1>

<div id="sidebar">

</div>
<div id="main">

	<%= render :partial => 'posts/form' %>

</div>

<%= clear_this %>