<h1><%= @page_title = @initial_tag ? "Create a new post in tag '#{@initial_tag}'" : "Create a new post" %></h1>


<div id="main">
  
  <p id="selectType">
    <a href="#" class="current">Write text</a> <a href="#">Upload a pdf file</a>
  </p>  
	
	<%= render :partial => 'posts/form' %>
	
	<br />
	<br />
	<br />
	
	<p id="selectType">
    <a href="#">Write text</a> <a href="#" class="current">Upload a pdf file</a>
  </p>  
	
	<%= render :partial => 'posts/upload' %>

</div>

<%= clear_this %>