<% @page_title = @initial_tag ? "Create a new post in tag '#{@initial_tag}'" : "Create a new post" %>


<div id="main">
  
  <p id="selectType">
    <%= link_to("Write text", new_post_url(:tag => @initial_tag ? @initial_tag.id : nil), :class => @upload ? nil : 'current') %> 
		<%= link_to("Share a document", upload_new_post_url(:tag => @initial_tag ? @initial_tag.id : nil), :class => @upload ? 'current' : nil) %>
  </p>  
	
	<%= render :partial => 'posts/form' %>
	

</div>

<%= clear_this %>