

  <div id="contentTypes">
    <h1><%= @page_title = "Select type of content to add" %>:</h1>
    <ul>

      <li class="write">
        <%= link_to("Write some text", text_new_post_url(:tag => @initial_tag ? @initial_tag.id : nil)) %> 
      </li>  

      <li class="file">
    		<%= link_to("Share a document", upload_new_post_url(:tag => @initial_tag ? @initial_tag.id : nil)) %>
    	</li>
	
    	<li class="video">
    		<%= link_to("Share a video", video_new_post_url(:tag => @initial_tag ? @initial_tag.id : nil)) %>
    	</li>
  	</ul>
	</div>
	

