

<div id="main">
  <h1><%= @page_title = @initial_tag ? "Create a new posting in tag '#{@initial_tag}'" : "Create a new posting" %></h1>
  
	<%= render :partial => 'posts/form' %>
	
</div>

<%= clear_this %>