<div id="pageNotFound">
  <h1>404 - Page not found</h1>
  <p>Sorry that link <%= request.url%> via <strong><%=request.method%></strong> doesn't work. </p>
  <p>Try our <%= link_to "home page", "/"%>.</p>
</div>
