<div id="pageNotFound">
  <h1>404 - Page not found</h1>
  <p>Looks like you have arrived here with a link which no longer works. 
  We have recently reworked the site, so that might be the cause.</p>
  <p>Read more about the changes, or start over from our new <%= link_to "home page", "/"%>.</p>
</div>
