<h1>Copyright and licensing</h1>

<p>The site is copyright 2008 TheConnectedRepublic.org, Cisco, and contributors.</p>

<p>Some rights are reserved, as follows:</p>


<h2>Content</h2>
The content (postings) are submitted and may be reused under 
the terms of the Creative Commons Attribution-Non-Commercial-Share Alike 2.0 UK: England & Wales. 
See <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/uk/">Creative Commons by-nc-sa</a>, 
for full details, but essentially, this means you can reuse content published here without any further permission, 
providing you give attribution, you don't profit from the republication, and you make the 
republication under the same terms. 

<h2>Graphic design</h2>
The graphic design is specific to this site and is not availabe for reuse without explicit written permission. 
Please contact us if you have a request to reuse the design, images, and styling for some purpose.

<h2>Source code for the website</h2>
<p>The source code for the website is called "The Connected Website".</p>
<ul>
<li>You can reuse the code, apart from the images and css files which make up the graphic design (see above), 
under the terms below (derived from <a href="http://www.opensource.org/licenses/bsd-license.php">OSI-published revised BSD template</a>)</li>
<li>You can download the code from <a href="http://github.com/red56/the-connected-website/tree/master">github</a>. </li>
<li>You can follow and contribute to the development of the website at <a href="http://nokahuna.com/projects/142">the project site</a>.</li>
</ul>
<div class="license">
<p>Copyright (c) 2008, TheConnectedRepublic.org and Cisco</p>
<p>All rights reserved.</p>
<p>Redistribution and use in source and binary forms, with or without modification, 
are permitted provided that the following conditions are met:</p>
<ul>
    <li>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</li> 
    <li>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</li>
    <li>Neither the name of the TheConnectedRepublic.org, nor Cisco nor the names of its contributors, nor theirs style, graphics and logos
	may be used to endorse or promote products derived from this software without specific prior written permission.</li>
</ul>
<p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, 
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</p>

</div>
