<div id="footer">
    <p>
	    Copyright 2008 - TheConnectedRepublic.org and contributors - <a href="http://creativecommons.org/licenses/by-nd/2.0/uk/">Some rights Reserved</a>.<br />
	    Web application by <a href="http://red56.co.uk/projects/tcr">Red56</a>. Original graphic design by <a href="http://boilerhouse.co.uk/">Boilerhouse</a>
    </p>
</div>
