<div id="footer">
    <p>
	    Copyright 2008 - TheConnectedRepublic.org and contributors - <a href="http://creativecommons.org/licenses/by-nd/2.0/uk/">Some rights Reserved</a>.<br />
	    <a href="http://nokahuna.com/projects/142">Open-source web application</a> sponsored by Cisco IBSG Public Sector and produced by <a href="http://red56.co.uk/projects/tcr">Red56</a>.
    </p>
</div>
